@model List<StackOverflow.ViewModels.QuestionViewModel>
@{
    ViewBag.Title = "Search";
}

<div class="row">
    <div class="col-sm-12">
        @if (!String.IsNullOrWhiteSpace(ViewBag.Search))
        {
            <h3>Search results for @ViewBag.Search</h3>
        }
        <table class="table">
            @foreach (var item in Model)
            {
                Html.RenderPartial("Question", item);
            }
        </table>

        @if (Session["CurrentUserName"] != null)
        {
            <a href="/questions/create" class="btn btn-primary">Add Question</a>
        }
    </div>
</div>

<script>
    $("a[href='/home/questions']").attr('id', 'active');
</script>


